
body {
    font-family : "Courier New", Courier, monospace;
}

div.admin_titlebar {
    margin : 10px;
    border-top : 2px solid black;
    height : 40px;
}

div.admin_titlebar div.title {
    font-size : 18px;
    font-weight : bold;
    display : inline-block;
}

div.admin_titlebar div.tabs {
    margin-top: 10px;
}

div.admin_titlebar div.tabs span.tab {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

div.admin_titlebar div.tabs span.tab:hover {
    background-color: lightgrey;
    cursor: pointer;
}

div.admin_titlebar div.tabs span.tab.selected {
    padding: 3px;
    border: 3px solid black;
}


div.current_schema {
    margin : 10px;
    border-top : 2px solid black;
    top : 60px;
    width: 48%;
    bottom: 50%;
    width: 48%;
    overflow-y: auto;
}


div.schema_list {
    margin : 10px;
    border-top : 2px solid black;
    top : 60px;
    bottom: 50%;
    width: 48%;
    overflow-y: auto;
}


div.mutation_list {
    margin : 10px;
    border-top : 2px solid black;
    top : 52%;
    bottom: 2%;
    width: 48%;
    overflow-y: auto;
}


div.schema_diff {
    margin : 10px;
    border-top : 2px solid black;
    top : 60px;
}


div.diff_line {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-column-gap: 0px;
    align-items: stretch;
}

div.diff_line:hover {
    background-color: #eeeeee;
}


.spec_fields {
}

.created {
    background-color: lightgreen;
}

.deleted {
    background-color: #FFCCCB;
}

.updated {
    background-color: #FED8B1;
}

.renamed{
    background-color: #FFD580;
}

.renamed_from {
    background-color: #FFD580;
}

.renamed_to {
    background-color: #FFD580;
}


div.diff_item {
    margin-top: 5px;
}

div.field {
    padding-left: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: stretch;
}

div.field .name {
    font-weight: bold;
    font-size : 12px;
    display : inline-block;
}

div.field .type {
    font-size : 12px;
    display : inline-block;
}

div.field .target {
    font-size : 12px;
    display : inline-block;
}

div.calc_str {
    margin-left: 50%;
    font-size : 12px;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: pre;
    background-color: #eeeeee;
}


.spec_name {
    font-weight: bold;
    border-top: 1px solid grey;
    margin-top: 10px;
}


.change {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    align-self:center;
    height: 100%;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.change span {
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change span.created {
    border-radius: 6px 0% 0% 6px;
    align-items: right;
}

.change span.deleted {
    border-radius: 0% 6px 6px 0%;
    align-items: center;
}

.change span.renamed_to {
    border-radius: 6px 0% 0% 6px;
    align-items: right;
}

.change span.renamed_from {
    border-radius: 0% 6px 6px 0%;
    align-items: center;
}


div.steps {
    margin : 10px;
    border-top : 2px solid black;
    top : 60px;
    width: 48%;
}


div.title {
    font-size : 16px;
    font-weight : bold;
    display : inline-block;
}

div.schematitle {

    font-weight : bold;
    margin-top: 12px;
}

