
body {
    font-family : "Courier New", Courier, monospace;
}

div.admin_titlebar {
    margin : 10px;
    border-top : 2px solid black;
    height : 40px;
}

div.admin_titlebar div.title {
    font-size : 18px;
    font-weight : bold;
    display : inline-block;
}


div.schema_list {
    margin : 10px;
    border-top : 2px solid black;
    top : 60px;
}

div.schema_list div.title {
    font-size : 16px;
    font-weight : bold;
    display : inline-block;
}

div.schema_list div.controls {
    font-weight : bold;
    display : inline-block;
}


