
body {
    font-family : "Courier New", Courier, monospace;
}


div.title_version {
    top : 2px;
    margin : 10px;
    height : 40px;
    width : 280px;
}
div.title_version div.title {
    font-size : 18px;
    font-weight : bold;
    display : inline-block;
    width : 40px;
}
div.title_version div.version{
    display : inline-block;
    margin-left : 50px;
}


div.create_popup {
    margin: auto;
    border : 1px solid black;
    background-color : white;
    padding : 10px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left : 10%;
    right : 50%;
}



.button.create_resource {
    margin-left : 20px;
}

.button.delete{
    float : right;
    margin-right : 50px;
}


div.spec_name {
    margin : 10px;
    height : 20px;
    right : 350px;
    display : inline-block;
}
div.spec_name div.title {
    font-size : 18px;
    font-weight : bold;
    display : inline-block;
    width : 40px;
}
div.spec_name div.name {
    display : inline-block;
    margin-left : 50px;
}
div.spec_name div.is_collection{
    display : inline-block;
    margin-left : 10px;
}


div.resources {
    margin : 0px;
    top : 50px;
    background-color : white;
    overflow-y : auto;
    border-top : 1px solid black;
    margin : 0px 10px 0px 10px;
}

div.resources div.resource {
    margin : 10px 10px 20px 10px;
    display : block;
}

div.field {
}

div.field:hover {
    background-color : lightgrey;
}

div.field div.field_name{
    font-size : 14px;
    min-width : 250px;
    margin-left : 20px;
    display : inline-block;
    vertical-align : top;
}
div.field div.field_name::after{
    content: ' :';
}

div.field div.field_data {
    font-size : 12px;
    min-width : 50px;
    margin-left : 20px;
    display : inline-block;
    width : 600px;
    height : 20px;
    vertical-align: top;
}

div.field div.field_data input {
    vertical-align : top;
}

div.field div.field_data div.field_link button {
    vertical-align : top;
}

div.field div.field_data div.field_link span.link_id {
    height : 20px;
    display : inline-block;
    width: 183px;
    border : 1px solid grey;
}


div.field div.field_data div {
    height : 20px;
}

div.field div.field_edit {
    margin-top : -20px;
}

div.field button.field_unlink {
    margin-top : -25px;
    float: right;
}


div.field div.field_data div.field_str div.field_value::before{
    content: '"';
}
div.field div.field_data div.field_str div.field_value::after{
    content: '"';
}

div.field div.target {
    font-size : 12px;
    min-width : 50px;
    margin-left : 20px;
    display : inline-block;
}

div.rootresource {
    top : 50px;
}

div.search_results {
}

div.popup.search_popup {
    max-height : 90%;
    overflow-y: auto;
}
