
body {
    font-family : "Courier New", Courier, monospace;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

div.topbar {
    position : absolute;
    height : 50px;
    margin : 10px 20px 0px 20px;
}

div.breadcrumbs {
}

div.viewcontrols {
    width : 100%;
    text-align: right;
    font-size: 12px;
}

div.resource_view {
    position : absolute;
    margin : 60px 0px 0px 20px;
    overflow-y: scroll;
}

div.collection {
}

div.resource {
    background-color : white;
    margin-bottom: 20px;
    border: 1px solid grey;
}

div.fields {
}

div.pagination {
    display: inline-block;
    color : #bcbcbc;
    font-size: 12px;
    margin-bottom: 2px;
}

div.pagination span.pages {
    display: inline-block;
    width : 60px;
    text-align : center;
}

div.pagination span.pages.enabled {
    color : black;
}

div.pagination span.control {
    display: inline-block;
    width : 30px;
    text-align : center;
    color : lightgrey;
    border : 1px solid white;
}

div.pagination span.control.enabled {
    color : black;
    border : 1px solid #bcbcbc;
    cursor : pointer;
}

div.pagination span.control.enabled:hover {
    border : 1px solid grey;
}

div.field {
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

div.field div.field_name {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    font-weight: normal;
    overflow: hidden;
    margin-left: 10px;
}
div.field div.field_name:after {
    content: ':';
}

div.field div.marginfiller{
    display: inline-block;
    width: 160px;
}

div.field div.field_value {
    font-weight: bold;
    display: inline-block;
    width: auto;
    min-width : 160px;
    min-height: 16px;
}

span.expand_button {
    width: 20px;
    height : 16px;
    text-align : center;
    display: inline-block;
    border : 1px solid #bcbcbc;
    cursor : pointer;
    font-weight: normal;
    vertical-align: top;
}

span.expand_button:hover {
    border : 1px solid grey;
}

a.resource_link {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: center;
}

div.field div.field_value a {
    font-weight: normal;
}

div.field div.field_value div.expanded_collection {
    padding-left: 26px;
}

div.field div.field_value div.expanded_link {
    padding-left: 26px;
}

div.field div.field_value.id {
    font-weight: normal;
    font-style: italic;
}

div.field div.field_value.simple span.simple_field_val {
    white-space: pre;
}

div.field div.field_value.simple.str span.simple_field_val::before {
    content: '"';
}

div.field div.field_value.simple.str span.simple_field_val::after {
    content: '"';
}

span.create_button {
    display: inline-block;
    text-align: center;
    color: black;
    border: 1px solid #bcbcbc;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    margin-left: 20px;
}

span.create_button:hover {
    border: 1px solid grey;
}

span.control.create_button{
    color : black;
    border : 1px solid #bcbcbc;
    cursor : pointer;
    padding: 2px 6px 1px 6px;
    width: auto;
    margin: 1px 0px 0px 40px;
    font-size: 12px;
    vertical-align: top;
}

span.control.create_button:hover {
    border : 1px solid black;
}

div.search_results {
    margin-top: 10px;
    max-height: 70%;
    overflow-y: scroll;
}
