
body {
    font-family : "Courier New", Courier, monospace;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

div.topbar {
    position : absolute;
    height : 50px;
    margin : 10px 20px 0px 20px;
}

span.breadcrumbs {
}

div.resource_view {
    position : absolute;
    margin : 40px 20px 20px 20px;
    overflow-y: scroll;
}

div.collection {
}

div.resource {
    border-bottom : 1px solid lightgrey;
    background-color : white;
    margin-bottom: 20px;
}

div.fields {
}

div.pagination {
    display: inline-block;
    color : #bcbcbc;
    font-size: 12px;
}

div.pagination span.pages {
    display: inline-block;
    width : 60px;
    text-align : center;
}

div.pagination span.pages.enabled {
    color : black;
}

div.pagination span.control {
    display: inline-block;
    width : 30px;
    text-align : center;
    color : lightgrey;
    border : 1px solid white;
}

div.pagination span.control.enabled {
    color : black;
    border : 1px solid #bcbcbc;
    cursor : pointer;
}

div.pagination span.control.enabled:hover {
    border : 1px solid grey;
}

div.field {
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

div.field div.field_name {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    font-weight: normal;
}
div.field div.field_name:after {
    content: ':';
}

div.field div.field_value {
    font-weight: bold;
    display: inline-block;
    width: auto;
    min-width : 160px;
}

div.field div.field_value span.expand_button {
    width: 20px;
    height : 16px;
    text-align : center;
    display: inline-block;
    border : 1px solid #bcbcbc;
    cursor : pointer;
}

div.field div.field_value span.expand_button:hover {
    border : 1px solid grey;
}


div.field div.field_value a {
    font-weight: normal;
}

div.field div.field_value div.expanded_collection {
    padding-left: 26px;
}

div.field div.field_value div.expanded_link {
    padding-left: 26px;
}

div.field div.field_value.id {
    font-weight: normal;
    font-style: italic;
}

div.field div.field_value.simple {
    white-space: pre;
}

div.field div.field_value.simple.str::before {
    content: '"';
}

div.field div.field_value.simple.str::after {
    content: '"';
}

