
body {
    font-family : "Courier New", Courier, monospace;
}

div.title_version {
    margin : 10px;
    border-top : 2px solid black;
    height : 40px;
}
div.title_version div.title {
    font-size : 18px;
    font-weight : bold;
    display : inline-block;
}
div.title_version div.version{
    display : inline-block;
    margin-left : 50px;
}

div.specs_title {
    margin : 10px;
    border-top : 2px solid black;
    top : 60px;
}

div.specs_title div.title {
    font-size : 16px;
    font-weight : bold;
    display : inline-block;
}

div.specs_title div.controls {
    font-weight : bold;
    display : inline-block;
}


div.specs {
    margin : 0px;
    top : 50px;
    background-color : white;
    overflow-y : auto;
}

div.specs div.spec {
    margin : 20px 10px 30px 10px;
    border-top : 1px solid black;
}

div.specs div.spec.root {
    margin : 5px 10px 30px 10px;
    border : none;
}

div.specs div.spec div.title {
    font-size : 12px;
    font-weight : bold;
    min-width : 250px;
    display : inline-block;
}

div.specs div.spec div.button {
    margin-left : 50px;
}

div.specs div.spec div.field div.name{
    font-size : 12px;
    min-width : 200px;
    margin-left : 50px;
    display : inline-block;
}

div.specs div.spec div.field div.type{
    font-size : 12px;
    min-width : 100px;
    margin-left : 20px;
    display : inline-block;
}

div.specs div.spec div.field div.target {
    font-size : 12px;
    min-width : 50px;
    margin-left : 20px;
    display : inline-block;
}

div.specs div.spec div.field div.calc_str {
    font-size : 12px;
    min-width : 50px;
    margin-left : 20px;
    display : inline-block;
}

