<html>
<head>

<script src="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.23.2/turtlegui.js" crossorigin="anonymous"></script>
<script src="/admin/static/metaphor/login.js"></script>
<script src="/admin/static/metaphor/admin.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.23/turtlegui.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/common.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/admin.css"/>

</head>

<body>


<div class="layer anchortop admin_titlebar">
    <div class="title">Admin</div>
    <span><input type="button" value="Create Schema" gui-click="admin.create_schema()"></input></span>
    <input class="button" type="file" gui-change="schema_import.import_schema(this)" ></input>
</div>



<div class="layer anchortop schema_list">
    <div class="title"><i>Available Schemas:</i></div>

    <div gui-show="admin.schemas.length==0" style="margin-top: 12px"><i>None</i></div>

    <div gui-list="admin.schemas" gui-item="schema">
        <div class="schematitle">
            <span gui-text="schema.name"></span>
            <span gui-text="schema.version"></span>
        </div>
        <div>
            <span><a class="button" gui-attrs="href='/admin/schemas/'+schema.id">Edit Schema</a></span>
            <span class="button" gui-click="admin.copy_schema(schema)"><span>Copy Schema</span></span>
            <span class="button" gui-click="admin.delete_schema(schema)"><span>Delete Schema</span></span>
            <span class="button" gui-click="mutations.show_create(schema)">Create Mutation</span>
        </div>
    </div>
</div>

<div class="layer mutation_list">
    <div class="title"><i>Mutations:</i></div>

    <div gui-show="mutations.mutations.length==0" style="margin-top: 12px"><i>None</i></div>

    <div gui-list="mutations.mutations" gui-item="mutation">
        <div gui-class="mutation.state">
            <div>&nbsp;</div>
            <div>
                <span><i>Mutate from: </i></span>
                <span gui-text="mutation.from_schema.name"></span>
                <span gui-text="mutation.from_schema.version"></span>
            </div>
            <div>
                <span><i>Mutate to: </i></span>
                <span gui-text="mutation.to_schema.name"></span>
                <span gui-text="mutation.to_schema.version"></span>
            </div>
            <div>
                <span>
                    <a gui-show="mutation.state=='ready'" class="button" gui-attrs="href='/admin/mutations/'+mutation.id">Manage</a>
                    <span class="button" gui-click="mutations.delete_mutation(mutation)">Delete Mutation</span>
                    <span gui-show="mutation.state=='ready'" class="button" gui-click="mutations.promote_schema(mutation)">Promote Schema</span>
                </span>
            </div>
        </div>
    </div>


    </div>
</div>

<div class="layer anchorright current_schema">
    <div class="title"><i>Current Schema:</i></div>
        <div class="schematitle">
            <span gui-text="admin.current_schema.name"></span>
            <span gui-text="admin.current_schema.version"></span>
        </div>
 
        <div>
            <i gui-text="admin.current_schema.updated"></i>
            <span><a class="button" gui-attrs="href='/admin/schemas/'+admin.current_schema.id">View Schema</a></span>
            <span class="button" gui-click="admin.copy_schema(admin.current_schema)">Copy Schema</span>

        </div>

</div>



<div id="popup_spec" class="popupwrapper" gui-show="mutations.mutation">
    <div class="popup">
        <div class="title">
            Create Mutation:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">From <span gui-show="mutations.mutation.from_schema.current">(current)</span> Schema: </div>
                <div class="spec_name"><span gui-text="mutations.mutation.from_schema.name"></span>&nbsp;<span gui-text="mutations.mutation.from_schema.version"></span>&nbsp;</div>
            </div>
            <div class="formfield">
                <div class="label">To Schema: </div>
                <div class="spec_name"><span gui-text="mutations.mutation.to_schema.name"></span>&nbsp;<span gui-text="mutations.mutation.to_schema.version"></span>&nbsp;</div>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='mutations.perform_create()'>Create</button>
            <button class="button" gui-click='mutations.close_create()'>Close</button>
        </div>
    </div>
</div>



<div id="login" class="popupwrapper" gui-show="login.is_shown" gui-include="'/admin/static/metaphor/login.html'"></div>


</body>

</html>
