<html>
<head>

<script src="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.17/turtlegui.js" crossorigin="anonymous"></script>
<script src="/admin/static/metaphor/login.js"></script>
<script src="/admin/static/metaphor/admin.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.17/turtlegui.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/common.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/admin.css"/>

</head>

<body>


<div class="layer anchortop admin_titlebar">
    <div class="title">Admin</div>
    <span><input type="button" value="Create Schema" gui-click="admin.create_schema()"></input></span>
    <input class="button" type="file" gui-change="schema_import.import_schema(this)" ></input>
</div>

<div class="layer anchortop current_schema">
    <div class="title">Current Schema</div>

        <div>
            <span gui-text="admin.current_schema.version"></span>
            <i gui-text="admin.current_schema.created"></i>
            <span><a class="button" gui-attrs="href='/admin/schemas/'+admin.current_schema.id">View</a></span>
            <span class="button" gui-click="admin.copy_schema(admin.current_schema)"><a href="">Copy</a></span>

        </div>

</div>



<div class="layer anchorright schema_list">
    <div class="title">Schemas</div>

    <div gui-list="admin.schemas" gui-item="schema">
        <div>
            <span gui-text="schema.version"></span>
            <span><a class="button" gui-attrs="href='/admin/schemas/'+schema.id">Edit</a></span>
            <span class="button" gui-click="admin.copy_schema(schema)"><a href="">Copy</a></span>
            <span class="button" gui-click="admin.delete_schema(schema)"><a href="">Delete</a></span>
            <span gui-list="schema.mutations" gui-item="mutation">
                <span>Mutation: </span> <span><a class="button" gui-attrs="href='/admin/mutations/'+mutation.id">Manage</a> <a class="button" href="" gui-click="mutations.promote_schema(mutation)">Promote</a></span>
            </span>
            <span class="button" gui-show="!(schema.current) && schema.mutations.length==0" gui-click="mutations.show_create(schema)">Create Mutation</span>
        </div>
    </div>
</div>


<div id="popup_spec" class="popupwrapper" gui-show="mutations.mutation">
    <div class="popup">
        <div class="title">
            Create Mutation:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">From Schema: </div>
                <div class="spec_name" gui-text="mutations.mutation.from_schema.version"></div>
            </div>
            <div class="formfield">
                <div class="label">To Schema: </div>
                <div class="spec_name" gui-text="mutations.mutation.to_schema.version"></div>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='mutations.perform_create()'>Create</button>
            <button class="button" gui-click='mutations.close_create()'>Close</button>
        </div>
    </div>
</div>



<div id="login" class="popupwrapper" gui-show="login.is_shown" gui-include="'/admin/static/metaphor/login.html'"></div>


</body>

</html>
