<html>

<head>

<script src="https://rawgit.com/gomyar/turtlegui/v4.0.4/turtlegui.js" crossorigin="anonymous"></script>
<script src="/static/metaphor/api.js"></script>
<link rel="stylesheet" type="text/css" href="/static/metaphor/schema.css"/>

<script>

api.resource_path = "{{ resource_path }}";
api.spec = {{ spec|safe }};

</script>

</head>

<body>

<div class="title">
    <span gui-text="api.resource.name"></span>
</div>

<div gui-switch="api.spec.spec">

    <div class="resource" gui-case="resource">
        <div class="fields" gui-list="api.spec.fields" gui-item="field" gui-key="field_name">
            <div class="field">
                <span gui-text="field_name"></span>
                <span gui-text="api.resource[field_name]" gui-show="gui.is_field_basic(field)"></span>
                <span gui-text="api.resource[field_name]" gui-show="gui.is_field_calc(field)"></span>
                <span gui-show="gui.is_field_collection(field)">
                    <a gui-show="api.resource[field_name]" class="button" gui-attrs="href=api.resource[field_name]" gui-text="field_name"></a>
                    <div class="button" gui-show="gui.is_empty(api.resource[field_name])" gui-click="gui.create_collection_child(api.resource, field)">Link</div>
                </span>
                <span gui-show="gui.is_field_link(field)">
                    <a gui-show="api.resource[field_name]" class="button" gui-attrs="href=api.resource[field_name]" gui-text="field_name"></a>
                    <div class="button" gui-show="gui.is_null(api.resource[field_name])" gui-click="gui.show_search_popup(field)">Link</div>
                </span>
            </div>
        </div>
    </div>

    <div class="collection" gui-case="collection">
        <div class="resource_name" gui-text="api.spec.target_spec.name"></div>

        <div class="button" gui-click="api.show_postform(true)">POST</div>

        <div gui-list="api.resource.results" gui-item="resource">
            <div class="resource">
                <hr></hr>
                <div class="button" gui-click="api.delete_resource(resource)">DELETE</div>
                <div class="fields" gui-list="api.spec.target_spec.fields" gui-item="field" gui-key="field_name">
                    <div class="field">
                        <span gui-text="field_name"></span>
                        <span gui-text="resource[field_name]" gui-show="gui.is_field_basic(field)"></span>
                        <span gui-text="resource[field_name]" gui-show="gui.is_field_calc(field)"></span>
                        <span gui-show="gui.is_field_collection(field)">
                            <a gui-show="resource[field_name]" class="button" gui-attrs="href=resource[field_name]" gui-text="field_name"></a>
                            <div class="button" gui-show="gui.is_null(resource[field_name])" >Link</div>
                        </span>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <span ><a class="button" gui-attrs="href=resource['self']">self</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="postform" gui-show="api.postform_shown">
    
</div>
<div id="postform" class="popupwrapper" gui-show="api.postform_shown">
    <div class="popup">
        <div class="fields_headers">
            <span>Create</span><span gui-text="api.spec.target_spec.name"></span>:
        </div>
        <hr></hr>

        <div class="resource">
            <div class="fields" gui-list="api.spec.target_spec.fields" gui-item="field" gui-key="field_name">
                <div gui-switch="field.type">
                    <div class="field" gui-case="str">
                        <span gui-text="field_name"></span>
                        <span><input type="text" gui-val="api.current_resource[field_name]"></input></span>
                    </div>
                    <div class="field" gui-case="int">
                        <span gui-text="field_name"></span>
                        <span><input type="text" gui-val="api.current_resource[field_name]" gui-parse-func="parseInt"></input></span>
                    </div>
                    <div class="field" gui-case="float">
                        <span gui-text="field_name"></span>
                        <span><input type="text" gui-val="api.current_resource[field_name]" gui-parse-func="parseFloat"></input></span>
                    </div>
                    <div class="field" gui-case="link">
                        <span gui-text="field_name"></span>
                        <span><input type="text" gui-val="api.current_resource[field_name]"></input></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="popupbuttons">
            <div class="button" gui-click='api.post_resource()'>Create</div>
            <div class="button" gui-click='api.show_postform(false)'>Close</div>
        </div>
    </div>
</div>



<div id="loading" gui-show="net.loading">Loading...</div>

</body>

</html>
