<html>

<head>

<script src="https://rawgit.com/gomyar/turtlegui/v4.0.5/turtlegui.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://rawgit.com/gomyar/turtlegui/v4.0.5/turtlegui.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/common.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/api_browser.css"/>

<script>

var api = {
    path: "{{ path }}",
    resource: {{ resource|tojson|safe }},
    spec: {{ spec|tojson|safe }},
    is_collection: {{ is_collection|tojson }},
    is_resource: {{ (not is_collection)|tojson }},
    can_post: {{ can_post|tojson }},
    is_linkcollection: {{ is_linkcollection|tojson }}
};

</script>
<script src="/admin/static/metaphor/api_browser.js"></script>

</head>

<body>


<div class="layer anchorright title_version">
    <div class="title">Schema</div><div class="version">abcdef:gghjk:aasdf</div>
</div>

<div class="layer anchortop spec_name">
    <div class="title">Spec</div>
    <div class="name" gui-text="api.spec.name"></div>
    <div class="is_collection" gui-show="api.is_collection">collection</div>
    <div class="button create_resource" gui-show="api.can_post" gui-click="browser.show_create_popup()">Create</div>
    <div class="button create_resource" gui-show="api.is_linkcollection" gui-click="browser.show_create_link_popup()">Add Link</div>
</div>

<div class="layer fullscreen resources">
    <div class="collection" gui-show="api.is_collection" gui-list="api.resource" gui-item="resource">
        <div gui-include="/browser/static/metaphor/api_browser_resource.html" gui-include-params="resource=resource"></div>
    </div>
    <div gui-include="/browser/static/metaphor/api_browser_resource.html" gui-include-params="resource=api.resource" gui-show="api.is_resource"></div>
    </div>
</div>

<div id="create_resource" class="popupwrapper" gui-show="browser.creating_resource_spec">
    <div class="popup">
        <div class="title">
            <div>Create</div>&nbsp;<div gui-text="api.spec.name"></div>
        </div>
        <div class="popupform" gui-list="api.spec.fields" gui-item="field" gui-key="field_name">
            <div class="formfield" gui-show="browser.can_edit_field(field)">
                <div class="label api" gui-text="field_name"></div><div class="spec_name"><input type="text" gui-val="browser.creating_resource_fields[field_name]"></input></div>
            </div>
        </div>
        <div class="popupbuttons">
            <div class="button" gui-click='browser.perform_create()'>Create</div>
            <div class="button" gui-click='browser.hide_create_popup()'>Close</div>
        </div>
    </div>
</div>

<div id="create_link" class="popupwrapper" gui-show="browser.creating_link">
    <div class="popup">
        <div class="title">
            <div>Create</div>&nbsp;<div gui-text="api.spec.name"></div>
        </div>
        <div class="popupform" >
            <div class="formfield">
                <div class="label api" gui-text="api.spec.name"></div><div class="spec_name"><input type="text" gui-val="browser.creating_link_value"></input></div>
            </div>
        </div>
        <div class="popupbuttons">
            <div class="button" gui-click='browser.perform_create_link()'>Create</div>
            <div class="button" gui-click='browser.hide_create_link_popup()'>Close</div>
        </div>
    </div>
</div>


</body>

</html>
