<html>

<head>

    <link rel="stylesheet" type="text/css" href="https://rawgit.com/gomyar/turtlegui/v5.17/turtlegui.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/static/metaphor/common.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/static/metaphor/client.css"/>

    <script src="https://rawgit.com/gomyar/turtlegui/v5.17/turtlegui.js" crossorigin="anonymous"></script>
    <script src="/admin/static/metaphor/api_client.js"></script>

</head>

<body gui-keyup="api.check_esc()">

    <div class="anchortop topbar">
        <span><b>Location:</b></span>
        <span class="breadcrumbs" gui-list="api.get_breadcrumbs()" gui-item="crumb">
            <span>/<a gui-attrs="href='/client'+crumb.url" gui-text="crumb.name"></a></span>

        </span>

        <span class="control create_button" gui-click="api.show_create_resource(api.root_resource, api.root_resource._meta.spec.name, api.path)"  gui-show="api.root_resource._meta.can_create" gui-text="'>> create ' + api.root_resource._meta.spec.name"></span>
        <span class="control create_button" gui-click="search.show_create_linkcollection_search(api.root_resource)" gui-show="api.root_resource._meta.can_link" gui-text="'>> link ' + api.root_resource._meta.spec.name"></span>

        <div class="viewcontrols">
            <span class="viewcontrol"></span><input type=checkbox gui-val="api.show_reverse_links" gui-click="api.toggle_show_reverse_links()">Show reverse links</input></span>
            <span class="viewcontrol"></span><input type=checkbox gui-val="api.show_parents" gui-click="api.toggle_show_parents()">Show parents</input></span>
            <span class="viewcontrol"></span><input type=checkbox gui-val="api.show_self_links" gui-click="api.toggle_show_self_links()">Show self urls</input></span>
        </div>


    </div>

    <div class="fullscreen resource_view">
        <div class="resource_template" gui-tree="api.root_resource" gui-nodeitem="resource">
            <div>
                <div class="collection" gui-show="api.is_collection(resource)">
                    <div class="pagination">
                        <span class="pages" gui-class="(resource._total_pages() > 1) && 'enabled'">
                            <span gui-text="resource._page + 1"></span> of <span gui-text="resource._total_pages()"></span>
                        </span>
                        <span class="control" gui-click="resource._first()" gui-class="resource.previous && 'enabled'" title="First Page">&#171;</span>&nbsp;
                        <span class="control" gui-click="resource._previous()" gui-class="resource.previous && 'enabled'" title="Previous">&#8249;</span>&nbsp;
                        <span class="control" gui-click="resource._next()" gui-class="resource.next && 'enabled'" title="Next">&#8250;</span>&nbsp;
                        <span class="control" gui-click="resource._last()" gui-class="resource.next && 'enabled'" title="Last Page">&#187;</span>
                        <span class="control enabled" gui-click="resource._fetch()" title="reload">&#x21bb;</span>
                    </div>
                    <div class="collection_results" gui-list="resource.results" gui-item="item">
                        <div gui-node="item" gui-node-params="parent_resource=resource;parent_field_name=field_name;ego_path=ego_path&&(ego_path+'.'+field_name)"></div>
                    </div>
                </div>
                <div class="resource" gui-show="api.is_resource(resource)">

                    <div class="fields">
                        <div class="field" gui-show="resource._meta.spec.name == 'root'">
                            <div class="field_name">ego</div>
                            <div class="field_value">
                                <span class="expand_button" gui-show="!api.is_expanded(resource, 'ego')" gui-click="api.expand_link(this.parentElement, resource, 'ego', Schema.specs.user, '/ego')">+</span>
                                <span class="expand_button" gui-show="api.is_expanded(resource, 'ego')" gui-click="api.collapse_link(this.parentElement, resource, 'ego', Schema.specs.user)">-</span>
                                <!-- possible expansion to resource -->
                                <span class="link_url">
                                    <a class="resource_link" gui-attrs="href='/client/ego'">/ego</a>
                                </span>
                                <div class="expanded_link" gui-show="api.is_expanded(resource, 'ego')" gui-node="resource._expanded.ego" gui-node-params="parent_resource=resource;ego_path='/ego'"></div>
                            </div>

                        </div>
                        <div class="field" gui-show="resource._meta.spec.name != 'root'">
                            <div class="field_name">ID <span gui-show="ego_path" gui-text="ego_path">(ego)</span></div>
                            <div class="field_value id">
                                <a class="resource_link" gui-attrs="href='/client'+resource.self" gui-text="resource.id"></a>
                            </div>
                            <span class="control create_button" gui-show="!api.is_linkcollection(parent_resource, parent_field_name)" gui-click="api.perform_delete_resource(resource, parent_resource, ego_path&&(ego_path+'.'+parent_field_name))" gui-text="'>> delete ' + resource._meta.spec.name"></span>
                            <span class="control create_button" gui-show="api.is_linkcollection(parent_resource, parent_field_name)"  gui-click="api.unlink_from_collection(resource, parent_resource, parent_field_name)" gui-text="'>> unlink ' + resource._meta.spec.name"></span>
                        </div>
                        <div class="field" gui-show="(resource._meta.spec.name != 'root') && api.show_self_links">
                            <div class="field_name">self</div>
                            <div class="field_value">
                                <div class="link_url">
                                    <a class="resource_link" gui-attrs="href='/client'+resource.self" gui-text="resource.self"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields" gui-list="resource._meta.spec.fields" gui-key="field_name" gui-item="field">
                        <div class="field" gui-show="api.is_field_collection(field)" >
                            <div class="field_name" gui-text="field_name"></div>
                            <div class="field_value">
                                <span class="expand_button" gui-show="resource[field_name] && !api.is_expanded(resource, field_name)" gui-click="api.expand_collection(this.parentElement, resource, field_name, field, ego_path&&(ego_path+'.'+field_name))">+</span>
                                <span class="expand_button" gui-show="resource[field_name] && api.is_expanded(resource, field_name)" gui-click="api.collapse_collection(this.parentElement, resource, field_name, field)">-</span>
                                <!-- possible expansion to collection -->
                                <span class="collection_url">
                                    <a class="resource_link" gui-attrs="href='/client'+resource[field_name]" gui-text="resource[field_name]"></a>
                                </span>


                                <span class="control create_button" gui-click="api.show_create_resource(resource, field.target_spec_name, resource[field_name])" gui-show="field.type=='collection' || field.type=='orderedcollection'" gui-text="'>> create ' + field.target_spec_name"></span>
                                <span class="control create_button" gui-click="search.show_linkcollection_field_search_and_save(resource, field)" gui-show="field.type=='linkcollection'" gui-text="'>> link ' + field.target_spec_name"></span>

                                <div class="expanded_collection" gui-show="api.is_expanded(resource, field_name)" gui-node="resource._expanded[field_name]" gui-node-params="parent_resource=resource;parent_field_name=field_name;ego_path=ego_path"></div>
                            </div>
                        </div>

                        <div class="field" gui-show="api.is_field_reverse_link_collection(field) && api.show_reverse_links" >
                            <div class="field_name" gui-text="field_name"></div>
                            <div class="field_value">
                                <span class="expand_button" gui-show="resource[field_name] && !api.is_expanded(resource, field_name)" gui-click="api.expand_collection(this.parentElement, resource, field_name, field)">+</span>
                                <span class="expand_button" gui-show="resource[field_name] && api.is_expanded(resource, field_name)" gui-click="api.collapse_collection(this.parentElement, resource, field_name, field)">-</span>
                                <!-- possible expansion to collection -->
                                <span class="collection_url">
                                    <a class="resource_link" gui-attrs="href='/client'+resource[field_name]" gui-text="resource[field_name]"></a>
                                </span>


                                <span class="control create_button" gui-click="api.show_create_resource(resource, field.target_spec_name, resource[field_name])" gui-show="field.type=='collection' || field.type=='orderedcollection'" gui-text="'>> create ' + field.target_spec_name"></span>
                                <span class="control create_button" gui-click="search.show_linkcollection_field_search_and_save(resource, field)" gui-show="field.type=='linkcollection'" gui-text="'>> link ' + field.target_spec_name"></span>

                                <div class="expanded_collection" gui-show="api.is_expanded(resource, field_name)" gui-node="resource._expanded[field_name]" gui-node-params="parent_resource=resource;parent_field_name=field_name;ego_path=ego_path&&(ego_path+'.'+field_name)"></div>
                            </div>
                        </div>
                        <div class="field" gui-show="api.is_field_link(field)">
                            <div class="field_name" gui-text="field_name"></div>

                            <div class="field_value">
                                <span class="expand_button" gui-show="resource[field_name] && !api.is_expanded(resource, field_name)" gui-click="api.expand_link(this.parentElement, resource, field_name, field, ego_path&&(ego_path+'.'+field_name))">+</span>
                                <span class="expand_button" gui-show="resource[field_name] && api.is_expanded(resource, field_name)" gui-click="api.collapse_link(this.parentElement, resource, field_name, field)">-</span>
                                <!-- possible expansion to resource -->
                                <span class="link_url">
                                    <a class="resource_link" gui-attrs="href='/client'+resource[field_name]" gui-text="resource[field_name]"></a>
                                </span>

                                <span class="control create_button" gui-click="search.show_link_field_search_and_save(resource, field)" gui-text="'>> link ' + field.target_spec_name"></span>

                                <span class="control create_button" gui-show="resource[field.name]" gui-click="api.unlink_field(resource, field)" gui-text="'>> unlink ' + field.target_spec_name"></span>

                                <div class="expanded_link" gui-show="api.is_expanded(resource, field_name)" gui-node="resource._expanded[field_name]" gui-node-params="parent_resource=resource;parent_field_name=field_name;ego_path=ego_path&&(ego_path+'.'+field_name)"></div>
                            </div>
                        </div>
                        <div class="field" gui-show="api.is_field_parent_collection(field) && api.show_parents">
                            <div class="field_name" gui-text="field_name"></div>

                            <div class="field_value">
                                <span class="expand_button" gui-show="resource[field_name] && !api.is_expanded(resource, field_name)" gui-click="api.expand_link(this.parentElement, resource, field_name, field, ego_path&&(ego_path+'.'+field_name))">+</span>
                                <span class="expand_button" gui-show="resource[field_name] && api.is_expanded(resource, field_name)" gui-click="api.collapse_link(this.parentElement, resource, field_name, field)">-</span>
                                <!-- possible expansion to resource -->
                                <span class="link_url">
                                    <a class="resource_link" gui-attrs="href='/client'+resource[field_name]" gui-text="resource[field_name]"></a>
                                </span>


                                <div class="expanded_link" gui-show="api.is_expanded(resource, field_name)" gui-node="resource._expanded[field_name]" gui-node-params="parent_resource=resource;parent_field_name=field_name;ego_path=ego_path&&(ego_path+'.'+field_name)"></div>
                            </div>
 
                        </div>
                        <div class="field" gui-show="api.is_simple(field)">
                            <div class="field_name" gui-text="field_name"></div>

                            <div class="field_value simple" gui-click="api.set_editing_field(this, resource, field)" gui-class="field.type">
                                <!-- int / str / float -->
                                <span class="simple_field_val" gui-text="resource[field_name]"></span>
                                <input gui-show="api.is_editing_field(resource, field)" gui-val="api.editing_value" gui-bind="keyup" gui-event="api.field_updated(this)" gui-parse-func="api.parse_funcs[field.type]"></input>
                            </div>

                        </div>
                        <div class="field" gui-show="field.type=='datetime'">
                            <div class="field_name" gui-text="field_name"></div>

                            <div class="field_value simple" gui-click="api.set_editing_field(this, resource, field)" gui-class="field.type">
                                <span class="simple_field_val" gui-text="resource[field_name]"></span>
                                <input type="datetime-local" gui-show="api.is_editing_field(resource, field)" gui-val="api.editing_value" gui-bind="keyup" gui-event="api.field_updated(this)" gui-parse-func="api.parse_funcs[field.type]"></input>
                            </div>

                        </div>
                        <div class="field" gui-show="(field.type=='calc') && (field.target_spec_name==null)">
                            <div class="field_name" gui-text="field_name"></div>

                            <div class="field_value simple">
                                <span gui-text="resource[field_name]"></span>
                            </div>
                        </div>

                        <div class="field" gui-show="field.type=='bool'">
                            <div class="field_name" gui-text="field_name"></div>

                            <div class="field_value simple">
                                <input type="checkbox" gui-val="resource[field_name]" gui-change="api.perform_update_resource(resource, field_name, resource[field_name])"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="create_resource" class="popupwrapper" gui-show="api.creating_resource" tabIndex="0">
        <div class="popup create_popup">
            <div class="title">
                <div>Create</div>&nbsp;<div gui-text="api.creating_resource._meta.spec.name"></div>
                <div>at</div>
                <div gui-text="api.creating_resource_url"></div>
            </div>

            <div gui-list="api.creating_resource._meta.spec.fields" gui-item="field" gui-key="field_name" gui-index="index">
                <div class="field" gui-show="api.can_edit_field(field)">
                    <div class="field_name" gui-text="field_name"></div>
                    <div class="field_value" gui-switch="field.type">
                        <div gui-case="'int'" class="field_int">
                            &nbsp;
                            <input gui-val="api.creating_resource[field_name]" gui-parse-func="parseInt" gui-focus="index == 1"></input>
                        </div>
                        <div gui-case="'float'" class="field_float">
                            &nbsp;
                            <input gui-val="api.creating_resource[field_name]" gui-parse-func="parseFloat" gui-focus="index == 1"></input>
                        </div>
                        <div gui-case="'str'" class="field_str">
                            &nbsp;
                            <input gui-val="api.creating_resource[field_name]" gui-focus="index == 1"></input>
                        </div>
                        <div gui-case="'bool'" class="field_bool">
                            &nbsp;
                            <input type="checkbox" gui-val="api.creating_resource[field_name]" gui-focus="index == 1"></input>
                        </div>
                        <div gui-case="'datetime'" class="field_bool">
                            &nbsp;
                            <input type="datetime-local" gui-val="api.creating_resource[field_name]" gui-focus="index == 1"></input>
                        </div>
                        <div gui-case="'link'" class="field_link">
                            &nbsp;
                            <span class="link_id" gui-text="api.creating_resource[field_name]"></span>
                            <button class="button" gui-click="search.show_link_field_search(api.creating_resource, field)">&#128270;</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popupbuttons">
                <button type="submit" class="button" gui-click='api.perform_create_resource()'>Create</button>
                <button class="button" gui-click='api.hide_create_popup()'>Close</button>
            </div>

        </div>
    </div>

    <div id="create_link" class="popupwrapper" gui-show="api.creating_link_spec">
        <div class="popup">
            <div class="title">
                <div>Link</div>&nbsp;<div gui-text="api.creating_link_spec.name"></div>
                <div>to</div>
                <div gui-text="api.creating_link_url"></div>
            </div>
            <div class="popupform" >
                <div class="formfield">
                    <div class="label api" gui-text="api.creating_link_spec.name"></div><div class="spec_name"><input type="text" gui-val="api.creating_link_id"></input></div>
                </div>

            </div>
            <div class="popupbuttons">
                <button class="button" gui-click='api.perform_create_link()'>Create</button>
                <button class="button" gui-click='api.hide_create_link_popup()'>Close</button>
            </div>
        </div>
    </div>
        

    <div id="search_resource" class="popupwrapper" gui-show="search.search">
        <div class="popup">
            <div class="title">
                <div>Search for: </div>&nbsp;<div gui-text="search.search.spec.name"></div>
            </div>

            <div class="search_text">
                <input type=text gui-val="search.search.search_text"></input>
                <button class="button" gui-click="search.search.perform_search()">&#128270;</button>
            </div>
            <div class="search_results" gui-list="search.search.result_page.results" gui-item="resource">
                <div>
                    <span class="expand_button" gui-show="!search.is_expanded(resource)" gui-click="search.expand(resource)">+</span>
                    <span class="expand_button" gui-show="search.is_expanded(resource)" gui-click="search.collapse(resource)">-</span>

                    <span class="collection_url">
                        <a gui-attrs="href='/client'+resource.self" gui-text="resource.self"></a>
                    </span>

                    <span>
                        <div class="button" gui-click='search.search.selected_callback(resource)'>Select</div>
                    </span>

                    <div class="resource" gui-show="search.is_expanded(resource)" >

                        <div class="fields">
                            <div class="field">
                                <div class="field_name">ID</div>
                                <div class="field_value id" gui-text="resource.id"></div>
                            </div>
                            <div class="field">
                                <div class="field_name">self</div>
                                <div class="field_value">
                                    <div class="link_url">
                                        <a gui-attrs="href='/client'+resource.self" gui-text="resource.self"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fields" gui-list="resource._meta.spec.fields" gui-key="field_name" gui-item="field">
                            <div class="field">
                                <div class="field_name" gui-text="field_name"></div>
                                <div class="field_value" gui-show="api.is_field_array(field) && (field.target_spec_name != null)" >
                                    <span class="collection_url">
                                        <a gui-attrs="href='/client'+resource[field_name]" gui-text="resource[field_name]"></a>
                                    </span>
                                </div>
                                <div class="field_value" gui-show="api.is_field_link(field)">
                                    <span class="link_url">
                                        <a gui-attrs="href='/client'+resource[field_name]" gui-text="resource[field_name]"></a>
                                    </span>
                                </div>
                                <div class="field_value simple" gui-class="field.type" gui-show="api.is_simple(field)">
                                    <!-- int / str / float -->
                                    <span class="simple_field_val" gui-text="resource[field_name]"></span>
                                </div>
                                <div class="field_value simple" gui-class="field.type" gui-show="field.type=='datetime'">
                                    <!-- int / str / float -->
                                    <span class="simple_field_val" gui-text="resource[field_name]"></span>
                                </div>
                                <div class="field_value simple" gui-show="field.type=='bool'" gui-text="(resource[field_name] && 'true') || 'false'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="popupbuttons">
                <button class="button" gui-click='search.hide()'>Close</button>
            </div>

        </div>
    </div>

</body>

</html>


