<html>
<head>

<script src="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.17/turtlegui.js" crossorigin="anonymous"></script>
<script src="/admin/static/metaphor/integrations.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.17/turtlegui.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/common.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/integrations.css"/>

</head>

<body>


<div class="layer anchortop title_version">
    <div class="title">Integrations</div>
</div>


<div class="layer fullscreen integrations">
    <div class="control">
        <button class="button" gui-click="integrations.show_create_popup()">Create</button>
        <button class="button" gui-click="integrations.load_integrations()">Reload</button>
    </div>
    <div class="integration_list" gui-list="integrations.integrations" gui-item="integration">
        <div class="integration">
            <div><span class="field_name">title</span><span class="field_value" gui-text="integration.name"></span></div>
            <div><span class="field_name">mongo_collection</span><span class="field_value" gui-text="integration.mongo_collection"></span></div>
            <div><span class="field_name">mongo_db</span><span class="field_value" gui-text="integration.mongo_db"></span></div>
            <div><span class="field_name">mongo_connection</span><span class="field_value" gui-text="integration.mongo_connection"></span></div>
            <div><span class="field_name">mongo_aggregation</span><span class="field_value" gui-text="JSON.stringify(integration.mongo_aggregation, null, 4)"></span></div>
            <div><span class="field_name">change_stream_callback</span><span class="field_value" gui-text="integration.change_stream_callback"></span></div>
            <div><span class="field_name">last_update</span><span class="field_value">Resume token info</span></div>
            <div gui-text="integration.error_info.description" gui-show="integration.state == 'error'" style="color: red; font-weight: bold"></div>
            <button class="button" gui-show="(integration.state == 'stopped') || (integration.state == 'error')" gui-click="integrations.edit_integration(integration)">Edit</button>
            <button class="button" gui-show="(integration.state == 'stopped') || (integration.state == 'error')" gui-click="integrations.delete_integration(integration)">Delete</button>
            <button class="button" gui-show="(integration.state != 'running') || (integration.state == 'error')" gui-click="integrations.start_integration(integration)">Run/Enable</button>
            <button class="button" gui-show="integration.state == 'running'" gui-click="integrations.stop_integration(integration)">Stop/Disable</button>
        </div>
    </div>
</div>


<div id="popup_field" class="popupwrapper" gui-show="integrations.new_integration">
    <div class="popup">
        <div class="title">
            Create Field:
        </div>
        <div class="popupform">

            <div class="formfield">
                <div class="label">Name:</div>
                <div><input type=text gui-val="integrations.new_integration.name"></input></div>
            </div>

            <div class="formfield">
                <div class="label">Mongo Connection String:</div>
                <div><input type=text gui-val="integrations.new_integration.mongo_connection"></input></div>
            </div>

            <div class="formfield">
                <div class="label">Mongo DB:</div>
                <div><input type=text gui-val="integrations.new_integration.mongo_db"></input></div>
            </div>

            <div class="formfield">
                <div class="label">Mongo Collection:</div>
                <div><input type=text gui-val="integrations.new_integration.mongo_collection"></input></div>
            </div>

            <div class="formfield">
                <div class="label">Aggregation (JSON):</div>
                <div><textarea type=text gui-val="integrations.new_integration.mongo_aggregation" gui-parse-func="JSON.parse" gui-format-func="JSON.stringify"></textarea></div>
            </div>

            <div class="formfield">
                <div class="label">Integration function:</div>
                <div><input type=text gui-val="integrations.new_integration.change_stream_callback"></input></div>
            </div>


        </div>
        <div class="popupbuttons">
            <button class="button" gui-show="!integrations.new_integration.id" gui-click='integrations.perform_create()'>Create</button>
            <button class="button" gui-show="integrations.new_integration.id" gui-click='integrations.perform_update()'>Update</button>
            <button class="button" gui-click='integrations.close_create()'>Close</button>
        </div>
    </div>
</div>


</body>

</html>
