<html>
<head>

<script src="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.17/turtlegui.js" crossorigin="anonymous"></script>
<script src="/admin/static/metaphor/login.js"></script>
<script>
var mutation_id = "{{ mutation_id }}";
</script>
<script src="/admin/static/metaphor/manage_mutation.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.17/turtlegui.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/common.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/schema_editor.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/admin.css"/>

</head>

<body>


<div class="layer anchortop admin_titlebar">
    <div class="title">
        <span>Mutation</span>
        <span gui-text="manage.mutation.from_schema.version"></span>
        <span>-&gt;</span>
        <span gui-text="manage.mutation.to_schema.version"></span>
    </div>

    <div class="tabs">
        <span class="tab" gui-class="manage.tab=='diff'&&'selected'" gui-click="manage.select_tab('diff')">Schema diff</span>
        <span class="tab" gui-class="manage.tab=='steps'&&'selected'" gui-click="manage.select_tab('steps')">Steps</span>
    </div>
</div>


<div class="layer fullscreen schema_diff" gui-show="manage.tab=='diff'">
    <div class="title">Schema diff</div>

    <div class="diff_grid" gui-list="manage.diff" gui-item="diff">
        <div class="diff_item">
            <div gui-show="diff.change=='delete_spec'">
                <div class="diff_line">
                    <span class="deleted">
                        <div class="spec_name" gui-text="diff.spec_name"></div>

                        <div gui-list="manage.mutation.from_schema.specs[diff.spec_name].fields" gui-item="field" gui-key="field_name" >
                            <span class="spec_fields">
                                <div class="field">
                                    <span class="name" gui-text="field_name"></span>
                                    <span class="type" gui-text="field.type"></span>
                                    <span class="target" gui-text="field.target_spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="field.calc_str" gui-show="field.calc_str"></div>
                            </span>
                        </div>

                    </span>

                    <span class="change">
                        <span class="deleted">Deleted</span>
                        <span><a gui-click="change_spec_delete_popup.open(diff)">Change</a></span>
                        <span></span>
                    </span>


                    <span></span>
                </div>
            </div>

            <div gui-show="diff.change=='create_spec'">

                <div class="diff_line">
                    <span></span>
                    <span class="change">
                        <span></span>
                        <span></span>
                        <span class="created">Created</span>
                    </span>

                    <span class="created">
                        <div class="spec_name" gui-text="diff.spec_name"></div>

                        <div gui-list="manage.mutation.to_schema.specs[diff.spec_name].fields" gui-item="field" gui-key="field_name">
                            <span class="spec_fields">
                                <div class="field">
                                    <span class="name" gui-text="field_name"></span>
                                    <span class="type" gui-text="field.type"></span>
                                    <span class="target" gui-text="field.target_spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="field.calc_str" gui-show="field.calc_str"></div>
                            </span>
                        </div>

                    </span>

                </div>

            </div>

            <div gui-show="diff.change=='same'||diff.change=='rename_spec'">
                <div class="diff_line" >
                    <span gui-class="diff.change=='rename_spec'&&'renamed'">
                        <div class="spec_name" gui-text="diff.spec_name" ></div>
                    </span>

                    <span class="change" gui-show="diff.change=='rename_spec'">
                        <span class="renamed">Renamed</span>
                        <span class="renamed"><a gui-click="change_spec_delete_popup.cancel_rename(diff)">Cancel rename</a></span>
                        <span class="renamed"></span>
                    </span>

                    <span gui-show="diff.change!='rename_spec'"></span>


                    <span gui-class="diff.change=='rename_spec'&&'renamed'">
                        <div class="spec_name" gui-text="diff.target_spec_name"></div>
                    </span>
                </div>


                <div gui-list="diff.fields" gui-item="field" >
                    <div gui-switch="field.change">
                        <div class="diff_line" gui-case="'create_field'">
                            <span class="spec_fields">
                            </span>

                            <span class="change">
                                <span></span>
                                <span></span>
                                <span class="created">Created</span>
                            </span>

                            <span class="spec_fields created">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>
                        </div>
                        <div class="diff_line" gui-case="'delete_field'">
                            <span class="spec_fields deleted">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].target||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>

                            <span class="change">
                                <span class="deleted">Deleted</span>
                                <span><a gui-click="change_field_delete_popup.open(diff, field)">Change</a></span>
                                <span></span>
                            </span>

                            <span class="spec_fields">
                            </span>
                        </div>
                        <div class="diff_line" gui-case="'field_type_changed'">
                            <span class="spec_fields updated">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>

                            <span class="change updated">
                                Type Changed
                            </span>

                            <span class="spec_fields updated">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>
                        </div>
                        <div class="diff_line" gui-case="'field_calc_changed'">
                            <span class="spec_fields updated">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>

                            <span class="change updated">
                                Calc Changed
                            </span>

                            <span class="spec_fields updated">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>
                        </div>
                        <div class="diff_line" gui-case="'same'">
                            <span class="spec_fields">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>

                            <span class="change">
                                
                            </span>

                            <span class="spec_fields">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>
                        </div>
                        <div class="diff_line" gui-case="'rename_field'">
                            <span class="spec_fields renamed">
                                <div class="field">
                                    <span class="name" gui-text="field.field_name"></span>
                                    <span class="type" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.from_schema.specs[diff.spec_name].fields[field.field_name].calc_str||''"></div>
                            </span>

                            <span class="change renamed">
                                <span class="renamed">Renamed</span>
                                <span class="renamed"><a gui-click="change_field_delete_popup.cancel_rename(diff, field)">Cancel rename</a></span>
                                <span class="renamed"></span>
    
                            </span>

                            <span class="spec_fields renamed">
                                <div class="field">
                                    <span class="name" gui-text="field.target_field_name"></span>
                                    <span class="type" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.target_field_name].type"></span>
                                    <span class="target" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.target_field_name].spec_name||''"></span>
                                </div>
                                <div class="calc_str" gui-text="manage.mutation.to_schema.specs[diff.target_spec_name].fields[field.target_field_name].calc_str||''"></div>
                            </span>
                        </div>

                    </div> 
                </div>
            </div>
        </div>
    </div>

</div>


<div class="layer fullscreen steps" gui-show="manage.tab=='steps'">
    <div class="title">Steps</div>

    <div>
        <span class="button" gui-click="manage.show_create_step()">Create Step</span>
    </div>
    
    <div gui-list="manage.mutation.steps" gui-item="step">
        <span>Move: </span>
        <span gui-text="step.from_path"></span>
        <span>To: </span>
        <span gui-text="step.to_path"></span>
    </div>
</div>


<div class="popupwrapper" gui-show="manage.step">
    <div class="popup">
        <div class="title">
            Create Move Step:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">From path:</div>
                <input gui-val="manage.step.from_path" gui-change="manage.reload_from_step()"></input>
            </div>
            <div class="formfield">
                <div class="label">From spec:</div>
                <div gui-text="manage.step.from_spec.name"></div>
            </div>
            <div class="formfield">
                <div class="label">To path:</div>
                <input gui-val="manage.step.to_path" gui-change="manage.reload_to_step()"></input>
            </div>
            <div class="formfield">
                <div class="label">To spec:</div>
                <div gui-text="manage.step.to_spec.name"></div>
            </div>

        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='manage.perform_create_step()'>Create</button>
            <button class="button" gui-click='manage.hide_create_step()'>Close</button>
        </div>
    </div>
</div>


<div class="popupwrapper" gui-show="change_spec_delete_popup.diff">
    <div class="popup">
        <div class="title">
            Change delete of spec <span gui-text="change_spec_delete_popup.diff.spec_name"></span>:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">Change to:</div>
                <select gui-val="change_spec_delete_popup.action">
                    <option value="rename">Rename</option>
                </select>
            </div>
            <div class="formfield" gui-show="change_spec_delete_popup.action=='rename'">
                <div class="label">Rename to:</div>
                <select gui-val="change_spec_delete_popup.target_spec_name" gui-list="change_spec_delete_popup.list_created_specs()" gui-item="spec_name">
                    <option gui-val="spec_name" gui-text="spec_name"></option>
                </select>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='change_spec_delete_popup.perform_change()'>Change</button>
            <button class="button" gui-click='change_spec_delete_popup.close()'>Close</button>
        </div>
    </div>
</div>


<div class="popupwrapper" gui-show="change_field_delete_popup.diff">
    <div class="popup">
        <div class="title">
            Change delete of field <span gui-text="change_field_delete_popup.diff.spec_name"></span>.<span gui-text="change_field_delete_popup.field.field_name"></span>:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">Change to:</div>
                <select gui-val="change_field_delete_popup.action">
                    <option value="rename">Rename</option>
                </select>
            </div>
            <div class="formfield" gui-show="change_field_delete_popup.action=='rename'">
                <div class="label">Rename to:</div>
                <select gui-val="change_field_delete_popup.target_field_name" gui-list="change_field_delete_popup.list_created_fields()" gui-item="field_name">
                    <option gui-val="field_name" gui-text="field_name"></option>
                </select>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='change_field_delete_popup.perform_change()'>Change</button>
            <button class="button" gui-click='change_field_delete_popup.close()'>Close</button>
        </div>
    </div>
</div>





<div id="login" class="popupwrapper" gui-show="login.is_shown" gui-include="'/admin/static/metaphor/login.html'"></div>


</body>
