<html>
<head>

<script src="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.23.2/turtlegui.js" crossorigin="anonymous"></script>
<script src="/admin/static/metaphor/login.js"></script>
<script>
var schema_id = "{{ schema_id }}";
</script>
<script src="/admin/static/metaphor/schema_editor.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/gomyar/turtlegui@v5.24/turtlegui.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/common.css"/>
<link rel="stylesheet" type="text/css" href="/admin/static/metaphor/schema_editor.css"/>

</head>

<body>


<div class="layer anchortop title_version">
    <div class="title"><span class="title"><a href='/admin'>Admin</a></span> &gt; </span>Edit Schema: <span class="version" gui-text="schema.name"></span>&nbsp;<span class="version" gui-text="schema.version"></span></div>
    <a class="button" gui-attrs="href='/admin/api/schemas/'+schema_id; download='schema.json'">Export</a>
</div>


<div class="layer fullscreen specs">
    <div class="specs_title">
        <div class="title">root</div>
        <div class="controls">
            <button class="button" gui-click="create_field.show_create('root')" gui-show="!schema.current">Add Root</button>
        </div>
    </div>

    <div class="spec root">
        <div class="fields" gui-list="schema.root.fields" gui-item="field" gui-key="field_name">
            <div class="field">
                <div class="name" gui-text="field_name"></div>
                <div class="type" gui-text="field.type"></div>
                <div class="target" gui-text="field.target_spec_name" gui-show="field.target_spec_name"></div>
                <button class="button delete_field" gui-click="schema.delete_field('root', field_name)" gui-show="!schema.current">Delete</button>
            </div>
        </div>
    </div>

    <div class="specs_title">
        <div class="title">Specs</div>
        <div class="controls">
            <button class="button" gui-click="create_spec.show_popup()" gui-show="!schema.current">Create Spec</button> 
        </div>
    </div>

    <div class="spec_inner" gui-list="schema.specs" gui-item="spec" gui-key="spec_name">
        <div class="spec">
            <div class="title" gui-text="spec_name"></div>
            <div class="button delete_spec" gui-click="schema.delete_spec(spec_name)" gui-show="!schema.current">Delete Spec</div>
            <div class="fields" gui-list="spec.fields" gui-item="field" gui-key="field_name">
                <div class="field">
                    <input type="radio" gui-val="schema.significant_field(spec, field_name)" gui-click="schema.select_significant_field(spec, field_name)"></input>
                    <div class="name" gui-text="field_name"></div>
                    <div class="type" gui-text="field.type"></div>
                    <div class="field_options">
                        <div class="target" gui-text="field.target_spec_name" gui-show="field.target_spec_name"></div>
                        <div class="calc_str" gui-text="field.calc_str" gui-show="field.calc_str"></div>
                    </div>
                    <div class="indexes">
                        <span class="bool" gui-text="(field.required && 'R')||''"></span>
                        <span class="bool" gui-text="(field.indexed && 'I')||''"></span>
                        <span class="bool" gui-text="(field.unique && 'U')||''"></span>
                        <span class="bool" gui-text="(field.unique_global && 'G')||''"></span>
                    </div>
                    <div class="field_controls">
                        <button class="button edit_field" gui-click="create_field.show_edit(spec_name, field_name)" gui-show="!schema.current">Edit</button>
                        <button class="button delete_field" gui-click="schema.delete_field(spec_name, field_name)" gui-show="!schema.current">Delete</button>
                    </div>
                </div>
            </div>
            <button class="button" gui-click="create_field.show_create(spec_name)" gui-show="!schema.current">Add Field</button> 
        </div>
    </div>


    <div class="specs_title">
        <div class="title">Groups</div>
        <div class="controls">
            <button class="button" gui-click="create_group.show_popup()" gui-show="!schema.current">Create group</button> 
        </div>
    </div>

    <div class="groups" gui-list="schema.groups" gui-item="group" gui-key="group_name">
        <div class="group">
            <div class="title" gui-text="group_name"></div>

            <div class="fields" gui-list="group.grants" gui-item="grant">
                <div class="field">
                    <span class="type" gui-text="grant.grant_type"></span>: <span class="url" gui-text="grant.url"></span>
                    <button class="button" gui-click="create_grant.delete_grant(group_name, grant)" gui-show="!schema.current">Delete</button> 
                </div>
            </div>
            <div class="controls">
                <button class="button" gui-click="create_group.delete_group(group_name)" gui-show="!schema.current">Delete Group</button> 
                <button class="button" gui-click="create_grant.show_popup(group_name)" gui-show="!schema.current">Create grant</button> 
            </div>
        </div> 
    </div> 

</div>


<div id="popup_group" class="popupwrapper" gui-show="create_group.is_shown">
    <div class="popup">
        <div class="title">
            Create group:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">Name: </div><div class="group_name"><input type="text" gui-val="create_group.name"></input></div>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='create_group.create_group()'>Create</button>
            <button class="button" gui-click='create_group.hide_popup()'>Close</button>
        </div>
    </div>
</div>


<div id="popup_grant" class="popupwrapper" gui-show="create_grant.is_shown">
    <div class="popup">
        <div class="title">
            Create grant in group <span gui-text="create_grant.group_name"></span>:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">Type: </div><div class="grant_name">
                    <select gui-val="create_grant.grant_type">
                        <option value="read">Read</option>
                        <option value="create">Create</option>
                        <option value="update">Update</option>
                        <option value="delete">Delete</option>
                    </select>
                </div>
            </div>
            <div class="formfield">
                <div class="label">Url: </div><div class="grant_name"><input type="text" gui-val="create_grant.url"></input></div>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='create_grant.create_grant()'>Create</button>
            <button class="button" gui-click='create_grant.hide_popup()'>Close</button>
        </div>
    </div>
</div>



<div id="popup_spec" class="popupwrapper" gui-show="create_spec.is_shown">
    <div class="popup">
        <div class="title">
            Create Spec:
        </div>
        <div class="popupform">
            <div class="formfield">
                <div class="label">Name: </div><div class="spec_name"><input type="text" gui-val="create_spec.name"></input></div>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-click='create_spec.create_spec()'>Create</button>
            <button class="button" gui-click='create_spec.hide_popup()'>Close</button>
        </div>
    </div>
</div>


<div id="popup_field" class="popupwrapper" gui-show="create_field.show_popup">
    <div class="popup">
        <div class="title">
            <span gui-show="!create_field.is_editing">Create Field:</span>
            <span gui-show="create_field.is_editing">Edit Field:</span>
        </div>
        <div class="popupform">
            <div class="formfield"><div class="label">Name:</div>
                <div gui-show="create_field.is_editing" gui-text="create_field.field_name"></div>
                <input type="text" gui-show="!create_field.is_editing" gui-val="create_field.field_name"></input>
                <div class="spec_type">
                    <select gui-val="create_field.field_type" gui-list="create_field.all_field_types" gui-item="spec_type" gui-change="turtlegui.reload()">
                        <option gui-text="spec_type" gui-val="spec_type"></option>
                    </select>
                </div>
            </div>
            <div gui-switch="create_field.field_type">
                <div class="formfield" gui-case="'collection'">
                    <div class="label">Target Spec:</div>
                    <select gui-val="create_field.field_target" gui-list="Object.keys(schema.specs)" gui-item="spec_name">
                        <option gui-val="spec_name" gui-text="spec_name"></option>
                    </select>
                </div>
                <div class="formfield" gui-case="'link'">
                    <div class="label">Target Spec:</div>
                    <select gui-val="create_field.field_target" gui-list="Object.keys(schema.specs)" gui-item="spec_name">
                        <option gui-val="spec_name" gui-text="spec_name"></option>
                    </select>
                </div>
                <div class="formfield" gui-case="'linkcollection'">
                    <div class="label">Target Spec:</div>
                    <select gui-val="create_field.field_target" gui-list="Object.keys(schema.specs)" gui-item="spec_name">
                        <option gui-val="spec_name" gui-text="spec_name"></option>
                    </select>
                </div>
                <div class="formfield" gui-case="'orderedcollection'">                                                      
                    <div class="label">Target Spec:</div>                                                                   
                    <select gui-val="create_field.field_target" gui-list="Object.keys(schema.specs)" gui-item="spec_name">  
                        <option gui-val="spec_name" gui-text="spec_name"></option>                                          
                    </select>                                                                                               
                </div>                                                                                                      
                <div class="formfield" gui-case="'calc'">
                    <div class="label">Calc:</div>
                    <textarea class="calc_text" gui-val="create_field.calc_str" rows=4></textarea>
                </div>

            </div>
            <div gui-show="create_field.is_primitive()">
                <label for="create_field_required" class="label">Required:</label>
                <input id="create_field_required" type="checkbox" gui-val="create_field.is_required"></input>
                <label for="create_field_indexed" class="label">Indexed:</label>
                <input id="create_field_indexed" type="checkbox" gui-val="create_field.indexed"></input>
                <label for="create_field_unique" class="label">Unique:</label>
                <input id="create_field_unique" type="checkbox" gui-val="create_field.unique" gui-change="turtlegui.reload()"></input>
                <span gui-show="create_field.unique">
                    <label for="create_field_global" class="label">Global:</label>
                    <input id="create_field_global" type="checkbox" gui-val="create_field.unique_global"></input>
                </span>
            </div>
        </div>
        <div class="popupbuttons">
            <button class="button" gui-show="!create_field.is_editing" gui-click='create_field.create_field()'>Create</button>
            <button class="button" gui-show="create_field.is_editing" gui-click='create_field.update_field()'>Update</button>
            <button class="button" gui-click='create_field.hide_popup()'>Close</button>
        </div>
    </div>
</div>


</body>

</html>
